label {
  font-weight: 500;
}

input {
  background:rgba(255, 255, 255, 0.15);
  border: 0;
  outline: 0;
  padding: .5rem;
  border-radius: 4px;
  color: #fff;
  margin-bottom: .25rem;
  
  &::placeholder {
    color: rgba(255, 255, 255, 0.4);
  }
}

button {
  padding: .5rem;
  border: 0;
  outline: 0;
  border-radius: 4px;
  transition: all 200ms;
  font-weight: 500;
  cursor: pointer;
  color: #fff;

  &:hover {
    opacity: 0.8;
  }

  &.edit {
    background: #23a0df;
  }

  &.remove {
    background: #e11d48;
  }
}

.form-add {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 4px;

  button {
    background: #04d361;
    color: #323236;
    font-size: .875rem;
    font-weight: 600;
    margin-top: .75rem;
  }
}