label {
  font-weight: 500;
}

input {
  background: rgba(255, 255, 255, 0.15);
  border: 0;
  outline: 0;
  padding: 0.5rem;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 0.25rem;
}
input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

button {
  padding: 0.5rem;
  border: 0;
  outline: 0;
  border-radius: 4px;
  transition: all 200ms;
  font-weight: 500;
  cursor: pointer;
  color: #d4d4d4;
  background: transparent;
  transition: all 200ms;
}
button:hover {
  opacity: 0.8;
}
button.edit:hover {
  color: #23a0df;
}
button.remove:hover {
  color: #f36685;
}

.form-add {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 6px;
}
.form-add button {
  background: #04d361;
  color: #323236;
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 0.75rem;
}
@media (max-width: 900px) {
  .form-add {
    max-width: 42rem;
    width: 100%;
  }
}

.table-container {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 6px;
}
.table-container button {
  padding: 0.25rem;
  font-size: 1rem;
  width: -moz-max-content;
  width: max-content;
}

th, td {
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
}

th, td {
  padding: 0.5rem;
  font-size: 0.875rem;
}
th.fit, td.fit {
  width: 50px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
.card header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 0.75rem 1rem;
}
.card header h2 {
  margin-bottom: 0;
}
.card header button {
  font-size: 1rem;
}
.card header button:nth-child(2) {
  margin-left: auto;
}
.card .post-content {
  padding: 1rem;
}
.card .post-content .post-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.card .post-content .post-header span, .card .post-content .post-header strong {
  color: rgba(255, 255, 255, 0.4);
}

.create-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
.create-wrapper .input-ctt {
  display: flex;
  flex-direction: column;
}
.create-wrapper .input-ctt label {
  font-size: 0.875rem;
}
.create-wrapper .input-ctt input {
  padding: 0.5rem;
  margin-top: 4px;
}
.create-wrapper .input-ctt textarea {
  padding: 0.25rem 0.5rem;
  margin-top: 4px;
  background: rgba(255, 255, 255, 0.15);
  border: 0;
  outline: 0;
  border-radius: 4px;
  color: #fff;
  resize: none;
  min-height: 4rem;
}
.create-wrapper button {
  background-color: #04d361;
  color: #323236;
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 0.5rem;
  width: 8rem;
  margin-left: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*:focus {
  box-shadow: 0 0 0 1px #d4d4d4;
}

html {
  overflow-x: hidden;
}

body {
  background: #262626;
  color: #d4d4d4;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 4rem;
  padding-inline: 1.5rem;
}

h2 {
  margin-bottom: 0.75rem;
  font-size: 18px;
}

.main-container {
  max-width: 62rem;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: flex-start;
  gap: 1rem;
}
@media (max-width: 900px) {
  .main-container {
    display: flex;
    flex-direction: column;
    max-width: 42rem;
    align-items: center;
  }
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
@media (max-width: 900px) {
  .right {
    max-width: 42rem;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */